@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono|Roboto+Condensed|Roboto);
body {
    background: #4E7376;
    color: #84EFE2;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}

#welcome-header-container {
    text-align: center;
    height: 100%;
}

.welcome-header-title {
    font-weight: 100;
    margin: 0 auto;
}

.profile-container {
    text-align: center;
    position: absolute;
    top: 40% !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-picture-container {
    margin: 10px;
}

.rounded-photo {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}

#scroll .arrow-down {
    background-repeat: no-repeat;
    position: fixed;
    fill: CurrentColor;
    bottom: 5%;
    left: 50%;
    width: 70px;
    height: 70px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#Layer_1 {
    display: block;
    z-index: 999;
}

#Layer_2 {
    display: none;
    z-index: 999;
}

#about-section-container {
    background: #4E7376;
    color: #84EFE2;
    height: 100%;
}

.about-sec-item {
    margin: 30px;
}

.about-sec-item-lists {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 18px;
    list-style: none;
}

.about-sec-item-lists li {
    margin-bottom: 10px;
}

.about-sec-item-lists span:first-child {
    text-align: left;
    letter-spacing: 0.5px;
}

.about-sec-item-lists span + span {
    padding-left: 5px;
    float: right;
}

.about-list {
    margin-top: 5%;
}

.about-sec-item p {
    margin-top: 30%;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 28px;
    font-weight: 300;
}

.li-header {
    margin-bottom: 5px;
    text-align: center;
}

#project-section-container {
    background: #4E7376;
    color: #84EFE2;
    height: auto;
    min-height: 100% !important;
}

.indent-line {
    background: rgba(229, 229, 229, 0.5);
    width: 150px;
    height: 0.5px;
    margin: 30px auto;
}

.list-name {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.card-holder {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.card-holder li {
    list-style: none;
    text-align: center;
}

.card {
    width: 300px;
    height: 300px;
    margin: 30px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    background-position: center;
    cursor: pointer;
}

.card .project-desc {
    position: absolute;
    background-color: rgb(18, 2, 2);
    width: 100%;
    height: 32%;
    text-align: left;
    bottom: 0;
}

.card .project-title {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.card .project-info {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 10px 10px;
}

.card .card-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card .card-item a {
    text-decoration: none;
}

.card .card-item img {
    width: inherit;
    height: inherit;
    left: 0;
    right: 0;
    margin: auto;
}

.card .card-item .card-item-caption {
    top: 0;
    left: 0;
    opacity: 0;
    height: 68%;
    width: inherit;
    position: absolute;
    transition: opacity 0.1s, transform 0.35s;
    /*transform: perspective(400) translate3d(0, 0, -100px);*/
}

.card-item-caption {
    padding: 10%;
}

.card-item a {
    text-decoration: none;
    color: inherit;
}

.card-item-caption .github {
    margin-top: 10%;
}

.card .card-item:hover .card-item-caption,
.card .card-item:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    /*transform: translate3d(0, 0, 0);*/
}

.card-hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.card-hover:hover,
.card-hover:focus,
.card-hover:active {
    -webkit-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
}

.card-use-tag {
    margin-top: 30px;
}

.card-use-tag li {
    display: inline;
    width: auto;
    height: 15px;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 2px 2px 2px;
    margin: 3px;
    color: black;
    background-color: rgb(229, 229, 229);
}

#footer-section-container {
    background-color: #4E7376;
    color: #84EFE2;
    height: 30%;
}

.footer-sec-item {
    margin-top: 4%;
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-sec-social {
    margin-top: 25px;
}

.footer-sec-social a {
    font-size: 18px;
    color: #84EFE2;
    margin: auto;
    padding: 10px;
}

.footer-sec-social a:hover {
    color: #ABB7B7;
}

.footer-sec-item p {
    margin: 10px;
}

.footer-sec-item .fa-code {
    color: black;
}

.footer-sec-item .fa-heart {
    color: #CD4439;
}

@media all and (max-width: 1000px) {
    .li-header {
        margin-top: 8%;
    }
}

@media not all and (min-width: 550px) {
    .right-side {
        margin-top: 50px;
    }
    .about-sec-item-lists span:first-child {
        display: block;
        position: relative;
        text-align: center !important;
        letter-spacing: 0.5px;
    }
    .about-sec-item-lists span + span {
        float: none;
        display: block;
        text-align: center;
    }
    #about-section-container {
        height: auto;
    }
}

@media not all and (min-width: 600px) {
    .about-sec-item-lists {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    .about-sec-item p {
        font-size: 18px;
    }
}

@media all and (min-width: 608px) {
    .footer-sec-social a {
        padding: 20px;
    }
}

@media all and (min-width: 1000px) {
    /* .about-sec-item {
        margin: auto;
        max-width: 720px;
    }*/
    .left-side {
        padding-right: 20px;
        float: left;
        width: 50%;
    }
    .right-side {
        width: 50%;
        float: right;
        padding-left: 20px;
    }
    .card .card-item .card-item-caption {
        transform: perspective(400) translate3d(0, 0, -100px);
    }
    .card .card-item:hover .card-item-caption,
    .card .card-item:hover {
        transform: translate3d(0, 0, 0);
    }
}

@media not all and (min-width: 450px) {
    .footer-sec-item {
        left: 0;
        margin-top: 15%;
        position: relative;
        transform: none;
    }
}

@media not all and (min-width: 375px) {
    .card-item img {
        width: 100%;
    }
    .card-holder .card {
        margin: 15px 10px;
        width: 90%;
    }
    .card-item-caption .github {
        margin-top: 5%;
    }
    .card-item-caption .github h6 {
        display: none;
    }
}