@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono|Roboto+Condensed|Roboto);
body {
    background: #4E7376;
    color: #84EFE2;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}

#welcome-header-container {
    text-align: center;
    height: 100%;
}

.welcome-header-title {
    font-weight: 100;
    margin: 0 auto;
}

.profile-container {
    text-align: center;
    position: absolute;
    top: 40% !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-picture-container {
    margin: 10px;
}

.rounded-photo {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
}

#scroll .arrow-down {
    background-repeat: no-repeat;
    position: fixed;
    fill: CurrentColor;
    bottom: 5%;
    left: 50%;
    width: 70px;
    height: 70px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#Layer_1 {
    display: block;
    z-index: 999;
}

#Layer_2 {
    display: none;
    z-index: 999;
}

#about-section-container {
    background: #4E7376;
    color: #84EFE2;
    height: 100%;
}

.about-sec-item {
    margin: auto;
    width: 60%;
}

.about-sec-item-lists {
    font-weight: 100;
    margin-top: 30%;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

.about-sec-item-lists li {
    margin-bottom: 10px;
}

.about-sec-item-lists span:first-child {
    letter-spacing: 0.5px;
    padding-right: 5.28px;
}

.about-sec-item-lists span + span {
    float: right;
    padding-left: 5.28px;
}

.about-sec-item p {
    margin-top: 20%;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}

#project-section-container {
    background: #4E7376;
    color: #84EFE2;
    height: auto;
    min-height: 100% !important;
}

.card-holder {
    text-align: center;
}

.card-holder .list-name {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.card-holder li {
    list-style: none;
    text-align: center;
}

.card {
    width: 300px;
    height: 300px;
    margin: 30px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    background-color: black;
    background-position: center;
}

.card .project-desc {
    position: absolute;
    background-color: rgb(18, 2, 2);
    opacity: 0.85;
    width: 100%;
    height: 32%;
    text-align: left;
    bottom: 0;
}

.card img {
    width: inherit;
    height: inherit;
    left: 0;
    right: 0;
    margin: auto;
}

.card .project-title {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.card .project-info {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 10px 10px 10px;
}

#footer-section-container {
    background-color: #4E7376;
    color: #84EFE2;
    height: 30%;
}

.footer-sec-item {
    text-align: center;
}

.footer-sec-social {
    margin-top: 25px;
}

.footer-sec-social a {
    font-size: 18px;
    color: #84EFE2;
    margin: 20px;
}

.footer-sec-social a:hover {
    color: #ABB7B7;
}

.footer-sec-item p {
    margin: 10px;
}

.footer-sec-item .fa-code {
    color: black;
}

.footer-sec-item .fa-heart {
    color: #CD4439;
}

@media not all and (min-width: 375px) {
    .card-holder .card img {
        width: 100%;
    }
    .card-holder .card {
        margin: 15px 10px;
        width: 90%;
    }
}